# Dependências
node_modules/

# Next.js
.next/
out/
.vercel/

# Ambientes
.env*.local
.env.local
.env



# Ferramentas
.vscode/settings.json
.swc/
.vscode/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/Editor
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.swp
*.swo

# Testes/CI
coverage/
.nyc_output/
jest-*.json
