# Dependências
node_modules/

# Build do Next.js / outras builds
.next/




# Ferramentas / Plataformas
.vercel
.vscode/
.swc/

.env
.hg
.git
.gitmodules
.svn
.cache
.next
.now
.vercel
.npmignore
.dockerignore
.*.swp
.DS_Store
.wafpicke-*
.lock-wscript
.env.local
.env.*.local
.venv
.yarn/cache
npm-debug.log
config.gypi
node_modules
__pycache__
venv
CVS
.env*.local
